html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
h2.variable-name {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}
h3.table-label {
  font-size: 1;
  font-weight: 600;
  margin-bottom: 0.5em;
}
label {
  font-weight: bold;
}
.sr {
  display: none;
}
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#map {
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 65%;
}
#sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
}
.sidebar-pane {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
}
#options-pane {
  background-color: #666666;
  background-image: url('images/sw_width.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  flex: 0 0 auto;
  height: 300px;
  padding: 0;
  position: relative;
}
h1.gradient {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  padding: 25px 50px 50px 25px;
}
#no-image {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 1.5em;
  text-align: center;
}
#image-link {
  color: white;
  display: none;
  font-size: 1.2em;
  position: absolute;
  right: 25px;
  top: 25px;
}
.controls {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding: 10px 25px;
  position: absolute;
  width: 100%;
}
.control {
  float: left;
  margin-right: 2%;
  position: relative;
  width: 42%;
}
.control-update {
  margin-right: 0;
  width: 12%;
}
.control-update button {
  background-color: rgba(30, 190, 20, 0.5);
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 5px 8px;
  width: 100%;
}
.control-update button:active,
.control-update button:hover,
.control-update button:focus {
  background-color: rgba(40, 220, 40, 0.5);
}
.control-update button::after {
  color: white;
  content: '\25B6';
}
.control .select-wrapper {
  background-color: #666666;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
.control .select-wrapper::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 10;
}
.control select {
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 0 none transparent;
  box-shadow: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 30px;
  padding: 5px 28px 5px 8px;
  position: relative;
  width: 100%;
  z-index: 20;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.control select:active,
.control select:hover,
.control select:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
.control select::-ms-expand {
  display: none;
}
#content-pane {
  flex: 1 1 100vh;
  line-height: 1.3em;
  overflow-y: scroll;
}
.variable-image {
  float: right;
  margin: 0 0 1.5em 1.5em;
  max-width: 50%;
}
.scores-table {
	border-spacing: 0;
  width: 100%;
}
.scores-table th,
.scores-table td {
  padding: 0.5em 1em;
  text-align: right;
}
.scores-table th:first-child,
.scores-table td:first-child {
  text-align: left;
}
.scores-table th {
  background-color: black;
  color: white;
  font-weight: bold;
}
.scores-table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
.scores-table tbody tr:nth-child(odd) {
  background-color: #fefefe;
}
#legend-wrapper {
  background-color: white;
  bottom: 1em;
  left: 1em;
  max-width: 200px;
  min-width: 150px;
  padding: 1em;
  position: absolute;
  width: 20%;
}
#legend .esriLegendService {
  padding-bottom: 0;
}
h2.variable-group-title {
  font-size: 1.2em;
  text-transform: uppercase;
}
h2.variable-group-title:first-child {
  margin-top: 0;
}
.field-values {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
.field-values th {
  display: none;
}
.field-values td.field-value {
  text-align: right;
}
.field-values td.field-scale {
  vertical-align: middle;
  width: 15%;
}
.field-values td.field-scale .scale-outer {
  background-color: white;
  border: 1px solid #cccccc;
  height: 1em;
  position: relative;
  width: 100%;
}
.field-values td.field-scale .scale-bar {
  height: 1em;
}
.scale-over-90 {
  background-color: #2e80bf;
}
.scale-over-80 {
  background-color: #80cee8;
}
.scale-over-70 {
  background-color: #fcfc5d;
}
.scale-over-60 {
  background-color: #ffb061;
}
.scale-60-under {
  background-color: #e61c1f;
}
.field-ScoreCompliance .field-label,
.field-ScoreCompliance .scale-value,
.field-ScoreCondition .field-label,
.field-ScoreCondition .scale-value {
  font-weight: bold;
}
.variable-link {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  #map {
    height: 30%;
    width: 100%;
  }
  #sidebar {
    top: 30%;
    height: 70%;
    width: 100%;
  }
  #legend-wrapper {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    bottom: auto;
    left: auto;
    padding: 0.5em;
    right: 0;
    top: 0;
  }
  .shadow {
    box-shadow: none;
  }
  .esriLegendLayer {
    font-size: 0.9em;
  }
}
