html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.3em;
  margin: 0 0 0.5em 0;
}

h2.variable-name {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

h3.table-label {
  font-size: 1;
  font-weight: 600;
  margin-bottom: 0.5em;
}

label {
  font-weight: bold;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#map {
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 65%;
}

#sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
}

.sidebar-pane {
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
}

#options-pane {
  background-color: #666666;
  color: white;
  flex: 0 0 auto;
}

#content-pane {
  flex: 1 1 100vh;
  overflow-y: scroll;
}

.variable-image {
  float: right;
  margin: 0 0 1.5em 1.5em;
  max-width: 50%;
}

.weights-table {
	border-spacing: 0;
  width: 100%;
}

.weights-table th,
.weights-table td {
  padding: 0.25em 1em;
  text-align: right;
}

.weights-table th:first-child,
.weights-table td:first-child {
  text-align: left;
}

.weights-table th {
  background-color: black;
  color: white;
  font-weight: bold;
}

#legend-wrapper {
  background-color: white;
  bottom: 1em;
  left: 1em;
  max-width: 200px;
  min-width: 150px;
  padding: 1em;
  position: absolute;
  width: 20%;
}

#legend .esriLegendService {
  padding-bottom: 0;
}
